h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
h2 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
p {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
a {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
p2 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}